* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #151515;
    font-family: 'SUIT', sans-serif;
}

*::selection {
    background-color: white;
}

body {
    height: 100vh;
}

#root, .App {
    height: 100%;
}

.App {
    background-color: #a441f7;
}

.content {
    text-align: center;

    display: inline-block;

    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.content > * {
}

.d-day {
    height: 62px;
    display: inline-block;

    position: relative;
    overflow: hidden;
}

.number-wrap {
    display: inline-flex;
    flex-direction: column;
    transition: 500ms;
}

.number-wrap * {
    display: inline-block;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
}

@media (max-width: 900px) {
    .content h1 {
        font-size: 30px;
    }
    .d-day {
        height: 38px;
    }
    .number-wrap * {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .content h1 {
        font-size: 20px;
    }
    .d-day {
        height: 32px;
    }
    .number-wrap * {
        font-size: 25px;
    }
}